.tab-wrap {
	background: White;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 20px 5px 20px 5px;
}

.tab-label {
	color: Gray;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 3px 6px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}

.tab-label:hover {
	background: rgba(0, 191, 255,.1);
}

.tab-switch:checked + .tab-label {
	color: DeepSkyBlue;
}

.tab-label::after {
	background: DeepSkyBlue;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content {
	height:0;
	opacity:0;
	padding: 0 5px;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
  
}


.tab-switch:checked ~ .tab-content {
	transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap::after {
	content: '';
	height: 20px;
	order: -1;
	width: 100%;
}

.tab-switch {
	display: none;
}
.menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #000000;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #menu-btn-check {
    display: none;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #70d4ff;
  }
  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #00c4da;
    transition: all 0.5s;/*アニメーション設定*/
  }
  #menu-btn-check:checked ~ .menu-content {
    left: 0;
  
  }
  .b{
     background-color: #000000;
  }
    /*メニューを画面内へ*/
    .c{
        background-color: rgb(0, 0, 0);
        padding: 0;
        margin: 0;
        height: 70px;
        width: auto;
    }
 
      .d{
        width: 50px;
        height: 40px; 
        filter: invert(100%);
        position: absolute;
        top: 2%;
        left: 1em;
    }
    
    .title h1{
        margin: 0;
    }
h2{
    margin: 0;
    background-color: #5cb3f5;
    position: relative;
    
}
.title{
  color: white;
}
.nitiji{
  text-align: center;
  background-color: #000000;
  color: white;
}
.nitiji p{
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.title{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.scorebord{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  width: 100% ;
  padding: 0px;
  text-align: center;
  
 }
 .scorebord th{
  color: white;
  background-color: #0071c8;
 }
 .kyoukaisen{
  border-left:4px solid #0071c8;
 }
 .tou{
  text-align: left;
 }
 .tou th{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
 }
 h4{
  margin: 12px 0 12px 0;
  padding: 5px 0 5px 5px;
  background: rgb(53,53,166);
  background: linear-gradient(90deg, rgba(53,53,166,1) 88%, rgba(89,89,181,1) 100%);
  color: white;

 }
   .ode {
   padding: 5px;
 }
 .od{
  padding: 5px;
  width: 100%;
 }
 .oder{
  margin: 12px 0 0 0;
  text-align: center;
 }
 .fonttt{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

 }
 .seisek{
  overflow-x: scroll;
  overflow:auto;

  margin: 0 0 10px 0;
  
 }
.seiseki{
  white-space: nowrap;
border: 2px solid black;
border-collapse:collapse;
text-align: center;

} 
.seiseki td{
  display: table-cell;
  border-top: 3px solid black;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 5px;
}
.kai{
  background-color: #0071c8;
  color: white;
}
.seiseki th{
  
  padding: 5px;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.kei{
  background-color: #d3d3d3;
}



.ugoo{
 
  background-color: #0071c8;
  color: white;
 
 
}
.u{

  background-color: #ffffff;
}
 .p{
  white-space: nowrap;
  border: 2px solid black;
  border-collapse:collapse;
  text-align: center;
 }
 .p th{
  
  padding: 5px;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.p td{
  display: table-cell;
  border-top: 3px solid black;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 5px;
}
.sikyu{
  background-color: rgb(2, 241, 2);
 
}
.anda{
  background-color: rgb(255, 82, 82);
 
}
.out{
  background-color: rgb(220, 220, 220);
 
}
.homerun{
  background-color: gold;
  
}
.san{
  background-color: rgb(146, 146, 255);
}
 
    @media screen and (min-width:720px){
    h2{
      padding: 30px 40px 30px 10px;
    }
    .nitiji p{
      font-size: 30px;
    }
      .team{
        position: absolute;
        margin: 30px 10px 0px 0px;
        right: 0px;
        top: 0px;
      }
      .team img {
        width: 100px;
        height: 100px;
      }
      .title h1{
        font-size: 70px;
      }
      .title table{
        margin: 30px 70px 0px 0px;
      }
      .title{
        padding: 0px 100px 0px 70px ;
     
      
    }
     .tab-label{
      font-size: 30px;
     }
     .tab-wrap{
      padding: 20px 150px 20px 150px;
      font-size: 20px;
     }
     .od{
      font-size: 50px;
     }
    }
    h4{
      font-size: 30px;
    }
.seiseki{
  table-layout: fixed;
}
    @media screen and (max-width:480px) {
    .seiseki th{
      
    }
    .seiseki td{
     
      width: 100px;
    }

      h2{
        padding: 30px 40px 30px 10px;
      }
        .team{
          position: absolute;
          margin: 30px 10px 0px 0px;
          right: 0px;
          top: 2px;
        }
        .team img {
          width: 40px;
          height: 40px;
        }
        .title h1{
          font-size: 30px;
        }
        .title table{
          margin: 0px 20px 0px 0px;
        }
        .title{
          padding: 0px 30px 0px 15px ;
        
      }
      .tab-label{
        font-size: 18px;
      
       }
       .scorebord{
        font-size: 15px;
       }
       .od{
        font-size: 30px;
       }
       h4{
        font-size: 25px;
       }
       
    }
    @media screen and (min-width:1045px){
      h2{
        padding: 30px 40px 30px 10px;
      }
      .nitiji p{
        font-size: 30px;
      }
        .team{
          position: absolute;
          margin: 30px 10px 0px 0px;
          right: 0px;
          top: 0px;
        }
        .team img {
          width: 100px;
          height: 100px;
        }
        .title h1{
          font-size: 70px;
        }
        .title table{
          margin: 30px 70px 0px 0px;
        }
        .title{
          padding: 0px 100px 0px 70px ;
       
        
      }
       .tab-label{
        font-size: 40px;
       }
       .tab-wrap{
        padding: 20px 150px 20px 150px;
        font-size: 30px;
       }
       .od{
       font-size: 50px;
       }
       h4{
        font-size: 35px;
      }
      }
